@font-face {
  font-family: HelveticaNeue;
  src: url(/stylesheets/HelveticaNeue.eot);
  src: local('HelveticaNeue'), url(/stylesheets/HelveticaNeue.ttf) format("truetype");
}
body {
  background-color: #FBEE79;
  font-family: HelveticaNeue, Helvetica Neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  margin: 3em auto;
  padding: 2em;
  text-align: center;
  background-color: #EE76A6;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
p img {
  border: 5px solid #FCF3B2;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
